*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li{
    padding: 5px;
}

#sec1{
    background-color: lightblue;
}

#sec2{
    background-color: lightgreen;
}

#sec3{
    background-color: lightcoral;
}

body.active #sec1{
    background-color: #0a07c2;
}

body.active #sec2{
    background-color: #0acc31;
}

body.active #sec3{
    background-color: #e91515;
}

body.active p{
    color: white;
}